body {
  background-color: #000;
  font-family: var(--font-dm-sans);
}

h1 {
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 400px;
}

.sidebar_navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar_navigation_biblioteca {
  margin-top: 10px;
  background-color: #121212;
  border-radius: 8px;
  padding: 5px 8px 5px 8px;
}

.sidebar_navigation_biblioteca .sidebar_playlist {
  background-color: #b4b4b418;
  border-radius: 8px;
  padding: 16px 10px 10px 10px;
}

.sidebar_navigation .logo {
  background-color: #121212;
  display: flex;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar_navigation .logo img {
  width: 80px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.sidebar_navigation_biblioteca .biblioteca .titulo_library {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  margin: 10px 20 10px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.sidebar_navigation_biblioteca .sidebar_playlist span {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0 10px 0;
}

.sidebar_navigation_biblioteca .biblioteca .titulo_library .plus_icon {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}

.sidebar_navigation_biblioteca .sidebar_playlist h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar_navigation_biblioteca .sidebar_playlist button {
  background-color: #ffffff;
  padding: 10px 0 10px 0;
  align-items: center;
  width: 120px;
  margin: 10px 5px 5px 0;
  border: none;
  border-radius: 30px;
  color: #000;
  font-weight: 600;
}

.sidebar_navigation_biblioteca .btn_language {
  background-color: transparent;
  padding: 5px 10px 5px 5px;
  align-items: center;
  width: 250px;
  margin: 20px 10px 20px 5px;
  border-radius: 30px;
  border-color: #fff;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.disclaimer-premium {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}
.disclaimer-premium .text {
 flex-shrink: 0;
}
.disclaimer-premium .disclaimer-premium__title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.disclaimer-premium button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  flex-shrink: 0;
}